<div class="container">
  <div class="section">
    <h3><%= link_to "#{@user.name}さんのページ", edit_user_registration_path %></h3>
  </div>
  <div>
    <div class="divider"></div>
    <div class="section">
      <p>お気に入りカテゴリー</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p>コメント履歴</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p>スレ投稿履歴</p>
    </div>
  </div>
</div>
