<div class="container">
  <div class="section">
    <h3 class="center"><%= @category ? @category.name : '新着スレッド' %></h3>
  </div>
  <div>
    <div class="divider"></div>
    <div class="section">
      <%= render 'shared/posting_threads', posting_threads: @posting_threads, display_amount: 3 %>
    </div>
  </div>
</div>
