a {
  color: black;
}
.logo {
  font-family: fantasy;
}
.title {
  margin-top: 25px;
  text-align: center;
}
.thread-home-title {
  padding: 10px 0;
}
.home-image .card-panel.amber.lighten-2 {
  margin-top: 45px;
}
.home-image {
  width: 100vw;
  height: 100vh;
  background: #666 url('../images/thread.jpg') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-top: 2%;
}
.home-image::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.home-panel-thread {
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 10px #333;
}
/* FLASH MESSAGE */
.flash-message {
  font-size: 15pt;
  text-align: center;
  margin: 10px;
}
.flash-alert {
  color: red;
}
.flash-notice {
  color: #4FC3F7;
}
.flash-timedout {
  display: none;
}

/* FROM */
.btn.waves-effect.waves-light.waves-input-wrapper:hover {
  background-color: #4fc3f7;
}
input.waves-button-input:hover {
  color: white;
}
a.waves-input-wrapper.waves-effect.waves-light.btn:hover {
  color: white;
}
.actions {
  text-align: center;
}
#error_explanation {
  color: red;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0;
  border: solid 4px;
  margin-bottom: 20px;
}
.user-confirmation {
  font-size: 14pt;
}

/* DEVISE LINKS */
div.devise-links > a {
  color: #FFC107;
}

/* thread */
.thread-title h3 {
  font-size: xx-large;
}
